.start {
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 50% 50%;
    grid-gap: 30px; 
}

.start div {
   /* padding: 20px; */
}

.start p {
   color: grey;
}

.start div,
.start div * {
   margin: 0;
   padding: 0;
}

.start div p:first-child {
   margin-bottom: 30px;
}

.start .lorem-2 {
   grid-column: 1;
   grid-row: 2;
   /* grid-row: 1 /3; */
}

.start .lorem-3 {
   grid-column: 2;
   grid-row: 2;
}

[class*="lorem-"] {
   margin: 0;
}

.gallery {
   display: grid;
   grid-template: 50% 50% / repeat(4, 25%);
}

.gallery div {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
   color: white;
   /* height: 250px; */
   padding-left: 20px;
   padding-right: 20px;
   /* padding: 20px; */
}

.gallery div:hover {
   opacity: .7;
}

.gallery .item-1 {
   background-color: rgb(245, 151, 156);
}

.gallery .item-2 {
   background-color: rgb(97, 94, 125);
}

.gallery .item-3 {
   background-image: url(https://static.pexels.com/photos/290534/pexels-photo-290534.jpeg);
   background-size: cover;
}

.gallery .item-4 {
   background-color: rgb(188, 140, 190);
}

.gallery .item-5 {
   grid-column: 1 / 3;
   background-image: url(https://static.pexels.com/photos/159393/gamepad-video-game-controller-game-controller-controller-159393.jpeg);
   background-size: cover;
   background-position: center;
   background-size: 110%;
}

.gallery .item-6 {
   background-color: rgb(129, 201, 156);
}

.gallery .item-7 {
   background-image: url(https://static.pexels.com/photos/398549/pexels-photo-398549.jpeg);
   background-size: cover;
   background-position: center;
}


/* DETAILS and REASONS */

.group {
   display: flex;
   justify-content: space-around;
}

.detail {
   margin-top: 20px;
   margin-right: 20px;
   /* color: grey; */
}

.detail:last-of-type {
   margin-right: 0;
}

.detail h4 {
   margin: 10px auto;
}

.detail p {
   font-size: .8em;
}

.reasons {
   background-color: rgb(129, 201, 155);
   color: white;
}

.power {
   background-image: url(https://static.pexels.com/photos/162466/clock-watch-time-hand-162466.jpeg);
   background-size: cover;
   height: 70vh;
}

.power .container {
   height: 70vh;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}


/* SHOP */

.shop {
   background-color: rgb(246, 247, 250);
}

.shop .container {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.shop .container>div {
   margin: 50px;
   padding: 30px;
}

.shop .container>div>button {
   border-radius: .3em;
   border-width: 0;
   color: white;
}

.shop .container>div>button:first-of-type {
   height: 2em;
   width: 8em;
   background-color: rgb(225, 225, 225);
}

.shop .container>div>button:last-of-type {
   height: 3em;
   width: 15em;
   background-color: rgb(129, 201, 155);
   margin: 10px;
   text-transform: uppercase;
}

.shop .container p {
   color: rgb(147, 165, 179);
}

.shop .container i {
   color: rgb(197, 197, 197);
   margin-left: 10px;
   font-size: 1.5em;
}

.shop .container>div:hover {
   box-shadow: 0 0 50px #ccc;
}

.shop .container>div:hover button:first-of-type {
   background-color: rgb(189, 139, 191);
}