@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {
    box-sizing: border-box; 
   font-family: "Quicksand", sans-serif;
   margin: 0;
   border: .5px solid black;
}

.container {
   margin: 0 auto;
   max-width: 800px;
   background: lightgreen;
}

nav:before,
nav:after {
    content: "";
    display: table;
    clear: both;
}

header>nav {
   max-width: 50px;
}

header>nav>img {
   height: 50px;
   float: left;
   border: 0;
}

header>nav>ul {
   margin: 0;
   padding: 0;
   float: right;
   list-style-type: none;
}

header nav li {
   display: inline-block;
}

header>nav>ul>li>a {
   line-height: 50px;
   text-decoration: none;
}