@import url('https://fonts.googleapis.com/css?family=Quicksand');
$color-dark: #313234;
$color-twitter: #4099FF;
$color-fb: #3B5998;
$color-gplus: #DB5A3C;
$color-insta: #5C3D2E;
$color-halfblack: rgba(0,
0,
0,
0.5);
* {
   box-sizing: border-box;
   font-family: "Quicksand", sans-serif;
   margin: 0;
   border: 1px solid coral;
}

.container {
   margin: 0 auto;
   max-width: 1200px;
   min-width: 500px;
}

.container:after,
.container:before,
.row:before,
.row:after,
[class*="col-"]:before,
[class*="col-"]:after {
   content: "";
   display: table;
   clear: both;
}

.row {
   width: 100%;
   float: left;
   height: 100%;
}

[class*="col-"] {
   float: left; // min-height: 1px;
   text-align: center;
}

// COL
@for $i from 0 to 13 {
   .col-#{$i} {
      width: 100% / 12 * $i;
      min-height: 1px;
   }
}

// COL OFFSET
@for $i from 0 to 13 {
   .col-offset-#{$i} {
      margin-left: 100% / 12 * $i;
      min-height: 1px;
   }
}

//  COL-S
@media (max-width: 768px) {
   @for $i from 0 to 13 {
      .col-s-#{$i} {
         width: 100% / 12 * $i;
         min-height: 0;
      }
   }
   .narrow {
      display: block;
      width: 100%;
      margin: 10px 25%;
   }
}