@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {
   box-sizing: border-box;
   font-family: "Quicksand", sans-serif;
}

body {
   margin: 0 auto;
}

.container {
   /* width: 100%; */
   max-width: 12000px;
   margin: 0 auto;
   /* border: 1px solid black; */
}

nav:before,
nav:after {
   content: "";
   display: table;
   clear: both;
}


/* HEADER */

header {
   background-color: #313234;
    height: 50px; 
   /* height: 5vh; */
   /* width: 100%; */
   /* position: fixed;  */
}


header nav li {
   display: inline-block;
}

header>nav>ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
   float: right;
}

header>nav>ul>li>a {
   line-height: 50px;
   padding: 0 20px;
   color: white;
   text-decoration: none;
   text-transform: uppercase;
}

header>nav>ul>li>a:hover {
   color: lightgreen;
}

header>nav>ul>li:hover {
   /* opacity: .8; */
   transition: .3s;
   cursor: pointer;
   background-color: rgba(0, 0, 0, 0.8)
}

header>nav>img {
   padding: 10px 0;
   padding-left: 10px;
}


/* JUMBOTRON */

.hero {
   background-image: url(https://lh3.googleusercontent.com/rfG_XeGWq8fCAMdOQWWT_Enbc12aM2yLulv35oAFDuZt2DrNf4KCtmndWArrS1jxsqnF7cdYoZFG2H8nrQtOEGX96dZVjSfUO1NnISIQzhxOnb-q87bGTlHWW4GoRyohfCGOw_keuLHEB74YwuUN-5xZiwWfSIqGCV-9BgpWO5uXqzGQ5vHK34HnIfOX8cc0ESAxqQIaweeTjaP0cMrw5uF_H9XGlwLgL_21LHVGbu35lUFMpe3FXeOhX2F39Yp5l6_mJfI-wNsByYtZXpNih_PDHsm-quHtN2x-t61Vd2qxwxWgYZSixKKR4EHJGhVsvOyKZx7SP6jpwM-h6AW58cGTNkWlsIMMpk6kOXl69Lo4uYfM4K725bQX_HK2zj-Or4HXriIXNUu4wlYvAOell3vkPtPgTwHtSekx-OSnfu--wfpJpbpLtGLs97fVrJ0THe5_0XTCsgd8NOEvVaNNnN34PHA_fEyxkJI1UAEDo552GlQFJF9UuEzu4lJedWLMHWpRHOhB_2kdqjjwadkYtN4afgSXz96Gk4Ctj7e0tvouWyNCSgLyCrn4cYvvYkAe8lE1H0fFTD70MLeQY2mqAdqSYITR448zmzx5XrahKxBmltqolX7x1_7q_A=w1600-h900-no);
   background-size: cover;
   background-position: center;
   overflow: hidden;
   width: 100%;
   height: calc(100vh - 50px);
   /* height: 95vh; */
}

.slogan {
   background-color: rgba(0, 0, 0, 0.8);
   float: right;
   margin-top: 50vh;
   width: 50vw;
   max-width: 800px;
   padding: 10px 50px;
}

slogan:hover {
   transition: ease-in-out .3s;
   background-color: rgba(0, 0, 0, 0.3)
}

.slogan>h1 {
   color: grey;
}

.slogan h1:nth-child(2) {
   color: white;
}

.row {
   padding: 10px 100px;
}