@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  margin: 0;
  background-color: #CCC;
  font-family: 'Quicksand', sans-serif;
}

h1, h2 {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Quicksand', sans-serif;
}

.container {
  margin:  auto;
  width: 700px;
  background-color: white;
}

header {
  padding: 40px;
  background: url(https://static.pexels.com/photos/25896/pexels-photo-25896.jpg) 50% 60%;
}

header h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 48px;
  font-family: 'Shadows Into Light', cursive;

}

header h1, header p {
  text-align: center;
  color: white;
}

section {
  padding: 0 20%;
}

.about h2 {
  color: #2ecc71;
  margin-top: 60px;
  font-size: 28px;
}

.interests h2 {
  margin-top: 40px;
  color: #9b59b6;
}

footer {
  margin-top: 60px;
  margin-bottom: 0;
  padding: 30px;
  background-color: #2c3e50;
}

footer p {
  text-align: center;
  color: white;
}

a {
  /*font-weight: bold;*/
  text-decoration: none;
  color: #c0392b;
}