/* BENEFITS */

.benefits {}

.benefit {
   margin: 50px auto;
   text-align: center;
   /* display: flex; */
   /* align-items: center; */
   /* justify-content: center;  */
}

.btn-wrapper,
.btn-desc {
   /* width: 100%;  */
   /* text-align: center; */
}

.benefits-btn {
   margin: 4px auto;
   width: 80px;
   border: 0;
   color: white;
   border-radius: 20%;
   background-color: #313234;
   cursor: pointer;
   font-size: 35px;
   line-height: 80px;
   /* text-align: center;  */
}

.benefits-btn-central {
   background-color: #4099FF;
}

.benefits-btn:hover>i {
   transform: scale(1.1);
   color: crimson;
}

.benefits h3 {
   font-weight: bold;
   margin: 10px;
   text-transform: uppercase;
}

.benefits p {
   margin: 4px;
   font-size: 15px;
}


/* QUOTE */

.quote {
   margin: 50px auto;
   text-align: center;
}

.quote .row>div>p {
   margin: 4px;
}

.quote .row>p {
   text-transform: uppercase;
   /* margin: 24px auto; */
   font-weight: bold;
   font-size: 35px;
}

.quote p:last-child {
   font-weight: bold;
}


/* GALLERY */

.gallery img {
   width: 100%;
}

.gallery .col-3 {
   position: relative;
   height: 100%;
}

.gallery-btn {
   border: 0;
   border-radius: 20%;
   margin: 25% 10%;
   /* height: 3em; */
   width: 2em;
   background-color: white;
   font-size: 1.5em;
}

.gallery-btn:hover {
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
}

.gallery-btns {
   display: none;
   /* display: block; */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: rgba(0, 0, 0, 0.5);
   height: 100%;
   width: 100%;
   line-height: 100%;
}

.gallery .col-3:hover .gallery-btns {
   display: block;
}


/* TEAM */

.team {
   margin: 50px auto;
}

.member {
   margin-left: 7%;
   width: 24%;
   float: left;
}

.member .face {
   position: relative;
   background-image: url(http://lorempixel.com/500/500);
   border-radius: 50%;
   padding-bottom: 100%;
   background-size: cover;
}

.member .face p {
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   color: white;
   transform: translate(-50%, -50%);
   font-size: 2em;
}

.member .name {
   text-align: center;
   /* position: absolute; */
   margin-top: 20px;
   font-size: 200%;
}


/* IPAD */

.ipad {
   /* height: 250px; */
   background-color: #313234;
}

.ipad .col-4 {
   height: 250px;
   /* height: 40%; */
   overflow: hidden;
}

.ipad h1 {
   color: white;
   margin-top: 55px;
}

.ipad p {
   margin: 10px 20px;
   /* line-height: 100px; */
   color: white;
   /* font-size: 20px; */
}


/* NUMBERS */

.numbers {
   margin: 30px auto;
}

.numbers p:first-child {
   font-size: 50px;
   font-weight: bolder;
   text-transform: uppercase;
   color: #4099FF;
}

.numbers .col-2 {
   padding: 10px;
}


/* ABOUT */

.about {
   background-color: #313234;
   color: white;
}

.about .col-4 {
   /* margin: 20px 20px;   */
   height: 100%;
}

.about h1 {
   text-transform: uppercase;
}

.about * {
   text-align: left;
}


/* MAP */

.map img {
   width: 100%;
   height: 100%;
   /* float: left; */
}

@media (max-width: 768px) {
   /* .team .member, */
   .narrow
   /* .gallery .col-3,
   .about .col-4,
   .photo img  */
   {
      display: block;
      width: 70%;
      margin: 10px 15%;
   }
   .member .name {
      font-size:
   }
}